.form {
    padding: 2rem;
    border-radius: 6px;
    width: 30%;
    margin: 3.5rem auto 3rem auto;
    /* background: darkgoldenrod; */
    background: #7f0000;
}
button {
    width: 100%;
    margin-top: 10px;
}
body {
    /* background: goldenrod; */
    background: #990000;
    /* color: dark; */
    /* background: #D84242; */
    /* background: #3D9970; */
    color: white;
}
h1 {
    text-align: center;
    font-style: italic;
}
label {
    font-size: 18px;
}
#dropdown {
    width: 100%;
}
.dropdown-menu {
    width: 100%;
}
