<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/chat.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Chat.io | Chat</title>
</head>


<body class="chat">

    <div class="chat__sidebar">
      <h3 style="color: white; font-size: 30px; margin: 2rem 3rem; font-weight: bold">CHAT.IO</h3>
      <div id="users"></div>
    </div>
  
    <div class="chat__main">
      <ol id="messages" class="chat__messages"></ol>
  
      <div class="chat__footer">
        <form id="message-form">
          <input name="message" type="text" placeholder="Message" autofocus autocomplete="off"/>
          <button type="submit" class="btn btn-dark">Send</button>
        </form>
      </div>
    </div>
  
    <script id="message-template" type="text/template">
      <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span style="margin-top: 6px;">{{sentAt}}</span>
        </div>
        <div class="message__body">
          <p>{{text}}</p>
        </div>
      </li>
    </script>


<!-- <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 nopadding">
                <h1 style="color: moccasin; margin: 2rem 4rem;"><b>CHAT.IO</b></h1>
            </div>
            <div class="col-lg-9">
                                         this is where we render the message sent by the users 
                                        <ul id="messages"></ul>
                    <form id="form">
                        <!-- <input id="message" name="message" type="text" placeholder="Message"> 
                        <div class="form-group input-group">
                            <input id="message" name="message" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Message">
                            <button class="btn btn-dark" type="submit">Send</button>
                        </div>
                    </form>
                        <!-- <div id="feedback">
                            <p>User is typing...</p>
                        </div> 
            </div>
        </div>
    </div>

    <script id="message-template" type="text/template">
        <div class="msg">
            <h4>{{from}}</h4>
            <span>{{sentAt}}</span>
            <p>{{text}}</p>
        </div>
    </script> -->

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/main.js"></script>
    <script src="./javascripts/libs/moment.js"></script>
    <script src="./javascripts/libs/mustache.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>